
.nav {
    width: 100%;
    height: 55px;
    background-color: #69B567;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    position: fixed;
}
.NavContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem 0 3rem ;
}
.NavList {
    display: flex;
    column-gap: 5rem;
    list-style: none;
}
.NavList a {
    color: white;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}
.NavList a:hover {
    /* color: #FFA8A8; */
    color: #FFE58A;
}
.logo {
    background-color: white;
    border-radius: 1rem;
}
.community {
    margin-right: 2rem;
}
.logo img {
    height: 36px;
    width: auto;
    cursor: pointer;
    padding: 0 0.75rem 0 0.75rem;
}



.StopScrolling{
    overflow-y: hidden;
    overflow: hidden;
  }
.imgcon{
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  margin-top: 55px;
}
.imgbackground{
    width: 100vw;
    height: 100vh;
}
.imgcon::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
